@font-face {
  font-family: pixel;
  src: url(/react-jam/Beanstalk.ttf);
}

:root {
  font-family: pixel;
  background-color: var(--ui-text);

  --ui-border: rgb(95, 57, 0);
  --ui-background: rgb(175, 145, 100);
  --ui-text: rgb(37, 22, 0);
  --ui-highlight: rgb(213, 180, 131);

  color: var(--ui-text);
  text-shadow: 1px 1px 0px var(--ui-highlight);
}

h1, h2 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

hr {
  width: 50%;
  margin: 0.25rem auto;
  border: 1px dashed var(--ui-border);
}

#wrapper {
  width: 50rem;
  height: 39.75rem;
  margin: auto;
}

#viewport {
  width: 27.5rem;
  height: 27.5rem;
  margin: 0.5rem 0.25rem 0.25rem 0.5rem;
  float: left;
  border: 0.25rem solid var(--ui-border);
}

#sidebar {
  font-size: 1.5rem;
  padding: 0;
  width: 20rem;
  height: 27.5rem;
  margin: 0.5rem 0.5rem 0.25rem 0.25rem;
  float: right;
  border: 0.25rem solid var(--ui-border);
  background-color: var(--ui-background);
}

#inventory ul, #actions ul {
  list-style-type: square;
  margin: 0;
  text-transform: capitalize;
}

#inventory ul {
  height: 15.5rem;
}

#inventory li, #actions ul {
  margin-left: 1rem;
}

.inactive-action, .active-cancel, td.exit button {
  cursor: pointer;
}

.active-action {
  cursor: default;
  text-decoration: underline;
}

.active-cancel {
  font-size: 1.5rem;
  text-transform: none;
}

#move-grid {
  width: 10rem;
  height: 10rem;
  margin: 0.25rem 0.25rem 0.5rem 0.5rem;
  float: left;
  border: 0.25rem dashed var(--ui-border);
  background-color: var(--ui-background);
}

#move-grid td {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

td.exit button {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--ui-background);
  vertical-align: middle;
  border: 6px double var(--ui-border);
}

td.no-exit {
  border: none;
}

#description {
  font-size: 1.5rem;
  width: 38rem;
  height: 9.5rem;
  margin: 0.25rem 0.5rem 0.5rem 0.25rem;
  float: right;
  border: 0.25rem solid var(--ui-border);
  background-color: var(--ui-background);
}

#description p {
  padding: 0 1rem;
  margin: 0.25rem 0;
}