:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

#wrapper {
  width: 50rem;
  height: 39.75rem;
  margin: auto;
  border: 1px solid red;
}

#viewport {
  width: 28rem;
  height: 28rem;
  margin: 0.5rem 0.25rem 0.25rem 0.5rem;
  float: left;
  border: 1px solid green;
}

#inventory {
  width: 20.25rem;
  height: 28rem;
  margin: 0.5rem 0.5rem 0.25rem 0.25rem;
  float: right;
  border: 1px solid blue;
}

#move-grid {
  width: 10rem;
  height: 10rem;
  margin: 0.25rem 0.25rem 0.5rem 0.5rem;
  float: left;
  border: 1px solid yellow;
}

#move-grid td {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

td.exit button {
  width: 1.5rem;
  height: 1.5rem;
  background: black;
  vertical-align: middle;
  border: 5px double aqua;
}

td.no-exit {
  border: none;
}

#description {
  width: 38.25rem;
  height: 10rem;
  margin: 0.25rem 0.5rem 0.5rem 0.25rem;
  float: right;
  border: 1px solid magenta;
}